<% breadcrumb :edit_manage_task_test_case %>
<h1>ファイル作成</h1>
<%= form_for(@test_case, url: manage_task_test_case_path(@task, @test_case)) do |f| %>
    <%= f.label :memo, :value => 'メモ'%><br>
    <%= f.text_field :memo, :class => 'form-control' %><br>

    <%= f.label :file_name, :value => 'ファイル名'%><br>
    <%= f.text_field :file_name, :class => 'form-control' %><br>

    <%= f.label :content, :value => '内容' %><br>
    <%= f.text_area :content, :class => 'form-control', :rows => '30'%><br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary', :value => 'ファイルを更新する' %>
    </div>
<% end %>