<% breadcrumb :show_manage_student_submission %>
<h1>提出状況</h1>
<h4>名前：<%= @student.name %></h4>
<h2>提出状況一覧</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>問題番号</th>
    <th>提出日時</th>
    <th>実行結果</th>
    <th>TAチェック</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% unless @submission.nil? %>
      <% if @submission.is_accepted %>
          <tr class="success">
      <% else %>
          <tr class="danger">
      <% end %>
        <td>
          <% begin %>
          <%= Task.find(@submission.task_id.to_i).title %>
          <% rescue %>
          Not Found
          <% end %>
        </td>
        <td> <%= @submission.created_at.strftime('%Y-%m-%d %H:%M:%S') %> </td>
        <%= show_status_td @submission %>
      <% case @submission.ta_check %>
  <% when 0 then %>
          <td>未チェック</td>
      <% when 1 then %>
          <td>遅刻OK</td>
      <% when 2 then %>
          <td>OK</td>
      <% end %>
      <td><%= link_to '採点', edit_manage_student_submission_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>
