<% breadcrumb :show_task_ranking %>
<h1><%= @task.title %> 課題別ランキング</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <% if @task.is_scoring %>
        <th>得点</th>
        <th>AC時刻</th>
      <% else %>
        <th>初AC時刻</th>
      <% end %>
    </tr>
  </thead>
  <% unless @students.nil? %>
    <tbody>
      <% rank = 1 %>
      <% @students.each do |student| %>
        <% unless student.name.include?('test.') %>
          <% if current_student.id == student.id %>
            <tr class="success">
              <td><%= rank %></td>
              <td><%= student.name %></td>
          <% else %>
            <tr>
              <td><%= rank %></td>
              <td><%= masked_student_name(student.name) %></td>
          <% end %>
          <% if @task.is_scoring %>
              <td> <%= number_with_delimiter(student.submission_score) %> </td>
          <% end %>
              <td><%= student.submission_created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            </tr>
          <% rank += 1 %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>
