<% breadcrumb :edit_manage_task %>
<h1>課題の編集</h1>
<%= form_for(@task, :url => manage_task_path(@task)) do |f| %>
    <div class="field">
      <%= f.label :title, :value => 'タイトル' %><br>
      <%= f.text_field :title, :class => 'form-control'%>
    </div><br>

    <%= f.label :deadline, :value => '締め切り'%><br>
    <%= f.datetime_select :deadline, :stat_year => 2017, :end_year => 2020, :minute_step => 5 %><br><br>

    <div class="field">
      <%= f.check_box :is_public, {}, true, false %> <%= f.label :is_public, :value => '公開' %>
    </div>

    <div class="field">
      <%= f.label :description, :value => '問題の詳細' %><br>
      <%= f.text_area :description, :class => 'form-control', :rows => 30 %>
    </div><br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>
