<!DOCTYPE html>
<html>
<head>
  <title>手続き型プログラミング演習</title>
  <link rel="icon" href="/assets/images/titech.jpg">
  <%= stylesheet_link_tag 'bootstrap'%>
  <%= javascript_include_tag 'bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
  <% end %>
  <%= breadcrumbs %>
  <%= yield %>
</div>
</body>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$']] } });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>
